.App-module_game__yruqo {
    width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    /* height: calc(100% - var(--header-height)); */
    display: flex;
    flex-direction: column; 
    /* background-color: blue; */
}

.pz-offline-ticker {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    font-weight: bold
}

.pz-offline-ticker svg path {
    fill: var(--white)
}

/* .portal-content {
    position: relative;
    top: calc(var(--header-height) + 5px)
} */

.Board-module_boardContainer__TBHNL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden
}

.Board-module_board__jeoPS {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box
}

.Row-module_row__pwpBq {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px
}

.Row-module_row__pwpBq.Row-module_invalid__RNDXZ {
    animation-name: Row-module_Shake__LeteU;
    animation-duration: 600ms
}

.Row-module_win__U9cQp {
    animation-name: Row-module_Bounce__TMGbC;
    animation-duration: 1000ms
}

@keyframes Row-module_Bounce__TMGbC {

    0%,
    20% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-30px)
    }

    50% {
        transform: translateY(5px)
    }

    60% {
        transform: translateY(-15px)
    }

    80% {
        transform: translateY(2px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes Row-module_Shake__LeteU {

    10%,
    90% {
        transform: translateX(-1px)
    }

    20%,
    80% {
        transform: translateX(2px)
    }

    30%,
    50%,
    70% {
        transform: translateX(-4px)
    }

    40%,
    60% {
        transform: translateX(4px)
    }
}

.Tile-module_tile__UWEHN {
    font-family: "Arial";
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Tile-module_tile__UWEHN::before {
    content: "";
    display: inline-block;
    padding-bottom: 100%
}

.Tile-module_tile__UWEHN.Tile-module_small__dKW39 {
    font-size: 1.6rem;
    padding-top: 1px
}

@media(max-height: 600px) {
    .Tile-module_tile__UWEHN {
        font-size: 1em
    }
}

.Tile-module_tile__UWEHN[data-state=empty] {
    border: 2px solid var(--color-tone-4)
}

.Tile-module_tile__UWEHN[data-state=tbd] {
    background-color: var(--color-tone-7);
    border: 2px solid var(--color-tone-3);
    color: var(--color-tone-1)
}

.Tile-module_tile__UWEHN[data-state=correct] {
    background-color: var(--color-correct);
    color: var(--key-evaluated-text-color)
}

.Tile-module_tile__UWEHN[data-state=present] {
    background-color: var(--color-present);
    color: var(--key-evaluated-text-color)
}

.Tile-module_tile__UWEHN[data-state=absent] {
    background-color: var(--color-absent);
    color: var(--key-evaluated-text-color-absent)
}

.Tile-module_tile__UWEHN[data-animation=pop] {
    animation-name: Tile-module_PopIn__CmX51;
    animation-duration: 100ms
}

@keyframes Tile-module_PopIn__CmX51 {
    from {
        transform: scale(0.8);
        opacity: 0
    }

    40% {
        transform: scale(1.1);
        opacity: 1
    }
}

.Tile-module_tile__UWEHN[data-animation=flip-in] {
    animation-name: Tile-module_FlipIn__PCdh1;
    animation-duration: 250ms;
    animation-timing-function: ease-in
}

@keyframes Tile-module_FlipIn__PCdh1 {
    0% {
        transform: rotateX(0)
    }

    100% {
        transform: rotateX(-90deg)
    }
}

.Tile-module_tile__UWEHN[data-animation=flip-out] {
    animation-name: Tile-module_FlipOut__xeJcb;
    animation-duration: 250ms;
    animation-timing-function: ease-in
}

@keyframes Tile-module_FlipOut__xeJcb {
    0% {
        transform: rotateX(-90deg)
    }

    100% {
        transform: rotateX(0)
    }
}

.Keyboard-module_keyboard__uYuqf {
    height: var(--keyboard-height);
    margin: 0 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; 
    /* background-color: blueviolet; */
    position: relative;
}

.Keyboard-module_row__ilOKU {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
        touch-action: manipulation
    }
    
    .Key-module_key__kchQI {
        font-family: "Arial";
        font-size: 1.25em;
        font-weight: bold;
        border: 0;
        padding: 0;
        margin: 0 6px 0 0;
        height: 58px;
        border-radius: 4px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: var(--key-bg);
        color: var(--key-text-color);
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        -webkit-tap-highlight-color: rgba(0, 0, 0, .3)
    }
    
    .Key-module_key__kchQI:last-of-type {
        margin: 0
    }

    .Key-module_key__kchQI[data-state=empty] {
        background-color: white;
        color: "black"; 
    }
    
    .Key-module_key__kchQI[data-state=correct] {
        background-color: var(--key-bg-correct);
        color: var(--key-evaluated-text-color)
    }
    
    .Key-module_key__kchQI[data-state=present] {
        background-color: var(--key-bg-present);
        color: var(--key-evaluated-text-color)
    }
    
    .Key-module_key__kchQI[data-state=absent] {
        background-color: var(--key-bg-absent);
        color: var(--key-evaluated-text-color-absent)
    }
    
    .Key-module_key__kchQI.Key-module_fade__dc3AW {
        transition: background-color .1s ease, color .1s ease
    }
    
    .Key-module_half__HooWu {
        flex: .5
    }
    
    .Key-module_one__zlfH6 {
        flex: 1
    }
    
    .Key-module_oneAndAHalf__bq8Tw {
        flex: 1.5;
        font-size: 12px
    }